.git
.github
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
.venv/

compose/*.env
composer-export/state/
composer-export/package-inventory/environment-describe.json
state-import/variables.json
state-import/pools.json
state-import/users.csv
secrets/
**/gcp-service-account.json
**/*service-account*.json
**/*credentials*.json
pgbouncer/userlist.txt
pgbouncer/pgbouncer.ini
*.tar.gz
*.tgz
*.log
